<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>

  <span class="content"><%= link_to entry.title, '#' %></span>
  <span class="content">
    <%= entry.body %>
    <%= image_tag entry.picture.url if entry.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "Delete", entry, method: :delete, data: {confirm: "Are You sure?"} %>
    <% end %>
  </span>
  <% if entry.comments.any? %>
    <h3><%= pluralize(entry.comments.count, "comment")%></h3>
    <ol class="comments">
      <%= render entry.comments %>
    </ol>
  <% end %>
  <section class="comment_form">
    <%= render 'shared/comment_form', entry: entry %>
  </section>


</li>


